<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Epic Trello</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand">Epic Trello</span>
    </div>
  </nav>
  <div class="container pt-3">
    {{{ body }}}
  </div>
  <script>
  window.globalSettings = {
    trelloApiKey: "{{ trelloApiKey }}"
  };
  </script>
  <script src="/main.bundle.js"></script>
</body>
</html>
